body {
  background-color: #ffffff;
  font-family: "Assistant", sans-serif;
  color: #0D1F5D;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #0D1F5D;
}
.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #0D1F5D !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #0D1F5D;
  color: #fff;
}
.btn-login:hover {
  background-color: #3B56B3;
  color: #fff;
}

header {
  margin-top: -70px !important;
  padding: 180px 0 165px;
  background-image: url("../images/home1.jpg");
  background-size: cover;
}
header h1, header p {
  color: #fff;
}
header h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 50px;
}
header p {
  font-size: 22px;
}
header .btn-get-started {
  background-color: #FF6F00;
  color: #fff;
}
header .btn-get-started:hover {
  background-color: #FF913D;
}

.section-stats {
  margin-top: -50px;
}
.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 40px;
}
.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}
.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background-color: #0D1F5D;
  margin-top: -50px;
  margin-bottom: -230px;
}
.section-popular .section-popular-heading {
  margin-top: 150px;
}
.section-popular .section-popular-heading h2, .section-popular .section-popular-heading p {
  color: #fff;
}
.section-popular .section-popular-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}
.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #ddd;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}
.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  color: #fff;
}
.section-popular-content .section-popular-travel .travel-location {
  font-size: 26px;
  color: #fff;
}
.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #FF6F00;
  color: #fff;
}
.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #FF913D;
  color: #fff;
}

.section-networks {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}
.section-networks h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}
.section-networks p {
  font-size: 18px;
}
.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: linear-gradient(#fff 0%, #e4e6eb 100%);
  padding-top: 50px;
  min-height: 506px;
}
.section-testimonial-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}
.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}
.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}
.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}
.section-testimonial-content .card-testimonial .testimonial-content img {
  width: 120px;
}
.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
}
.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 200;
  font-size: 25px;
  color: #6e6e6e;
  min-height: 160px;
}
.section-testimonial-content .card-testimonial .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
}
.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}
.section-testimonial-content .btn-get-started {
  background-color: #FF6F00;
  color: #fff;
}
.section-testimonial-content .btn-get-started:hover {
  background-color: #FF913D;
}
.section-testimonial-content .btn-need-help {
  background-color: #e2e2e2;
  color: #717171;
}
.section-testimonial-content .btn-need-help:hover {
  background-color: #ffffff;
}

.section-footer a {
  color: #0D1F5D;
}

.section-details-header {
  min-height: 310px;
  background: #e4e6eb;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}
.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}
.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #0D1F5D;
}
.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}
.section-details-content .card-details h1 {
  font-size: 26px;
}
.section-details-content .card-details h2 {
  font-size: 20px;
}
.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}
.section-details-content .card-details h3 {
  font-weight: 400;
  font-size: 14px;
  color: #0D1F5D;
}
.section-details-content .card-details .ava-checkout {
  border-radius: 40px;
}
.section-details-content .card-details .trip-information th {
  font-weight: 300;
  font-size: 18px;
  color: #0D1F5D;
}
.section-details-content .card-details .trip-information td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}
.section-details-content .card-details .trip-information .text-blue {
  color: #0D1F5D;
  font-weight: bold;
}
.section-details-content .card-details .trip-information .text-orange {
  color: #FF6F00;
  font-weight: bold;
}
.section-details-content .card-details .payment-instructions {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}
.section-details-content .card-details .bank .bank-item h3 {
  font-size: 18px;
  color: #0D1F5D;
  margin-bottom: 0;
}
.section-details-content .card-details .bank .bank-item p {
  margin-bottom: 0;
}
.section-details-content .card-details .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}
.section-details-content .card-details .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #0D1F5D;
}
.section-details-content .card-details .bank .bank-image {
  height: 34px;
  float: left;
}
.section-details-content .card-details .features {
  margin-top: 20px;
}
.section-details-content .card-details .features h3 {
  font-size: 18px;
  color: #017cd4;
  margin-bottom: 0;
}
.section-details-content .card-details .features p {
  margin-bottom: 0;
}
.section-details-content .card-details .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}
.section-details-content .card-details .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}
.section-details-content .gallery .xzoom-container {
  display: block;
}
.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  box-shadow: none;
  margin-bottom: 10px;
}
.section-details-content .gallery .xzoom-container .xactive {
  border: 4px solid #1abc9c;
  box-shadow: none;
}
.section-details-content .members .member-image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.section-details-content .members .gj-datepicker .datepicker {
  border-right: 0;
}
.section-details-content .members .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}
.section-details-content .members .btn-add-now {
  background-color: #0D1F5D;
  color: #fff;
}
.section-details-content .members .btn-add-now:hover {
  background-color: #3B56B3;
  color: #fff;
}
.section-details-content .members .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}
.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
.section-details-content .join-container {
  margin-top: -16px;
}
.section-details-content .btn-join-now {
  background-color: #FF6F00;
  color: #fff;
  border-radius: 0;
}
.section-details-content .btn-join-now:hover {
  background-color: #FF913D;
  color: #fff;
}

.section-success {
  height: 90vh;
}
.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #0D1F5D;
}
.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}
.section-success .btn-home-page {
  border-radius: 4px;
  background-color: #0D1F5D;
  color: #fff;
}
.section-success .btn-home-page:hover {
  background-color: #3B56B3;
  color: #fff;
}/*# sourceMappingURL=main.css.map */